.Mohamed_social {
    display: block;
    padding: 7px;
    font-size: 14px;

    margin: 0;
    background: #eef0f2;
    color: #000;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 12px;
    /* border-bottom-left-radius: 12px; */
    z-index: 100;
    font-weight: bold;
    text-decoration: none;
}
.social {
  height: 30px;
  /* width: 40px; */
}
#btn-back-to-top {
  position: fixed;
  bottom: 2.5%;
  right: 50%;
  display: none;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%; */
}
#conehover {
visibility: hidden;
display: relative;
}
.bi-cone-striped:hover ~ #conehover {
  
visibility: visible;

}

.scroll-container {
  width: 100%;
  overflow: hidden; /* Hide any overflow content */
}

.scroll-content {
  display: flex;
  animation: scroll-horizontal 30s linear infinite; /* Scroll smoothly for 30s, adjust time as needed */
}

/* Individual badge styles */
.badge {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1.25rem;
}

/* Keyframes for continuous horizontal scrolling */
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0); /* Start from the original position */
  }
  100% {
    transform: translateX(-50%); /* Move left by 50% of the total content width */
  }
}

/* Duplicate the content dynamically */
.scroll-content::before {
  content: '';
  display: inline-block;
  width: 100%; /* Duplicate the entire content */
}
