.Mohamed_social {
    display: block;
    padding: 7px;
    font-size: 14px;

    margin: 0;
    background: #eef0f2;
    color: #000;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 12px;
    /* border-bottom-left-radius: 12px; */
    z-index: 100;
    font-weight: bold;
    text-decoration: none;
}
.social {
  height: 30px;
  /* width: 40px; */
}
#btn-back-to-top {
  position: fixed;
  bottom: 2.5%;
  right: 50%;
  display: none;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%; */
}
#conehover {
visibility: hidden;
display: relative;
}
.bi-cone-striped:hover ~ #conehover {
  
visibility: visible;

}
